{% include 'header.html' %}
    
<div class="hero-unit">
    {% include 'navbar.html' %} 
    <br />
    <br />
        <div class="well">
            <h2>What is Homeless Helper</h2> 
            <br />
            <div class="row-fluid">
                <div class="span6">
                    <br />
                    <br />
                    <p>The <strong>Homeless Helper</strong> app provides near real-time information to the people who need it. Information such as shelters near your location, bed availability at those shelters, nearby places to eat a meal and much more.</p>
                    <p>You can use the full featured web app in a desktop browser or in a mobile browser.</p>
                    <br />
                    <p><strong>Please spread the word.</strong></p>
                </div>
                <div class="span4">
                    <center><img src="/static/images/ipad-app.png" /></center>
                </div>
            </div>
        </div>
        <br />
        <br />

        <div class="well">
            <h2>Overview</h2>
            <br /><br />
            
            <center>
                <img src="/static/images/screenshots/1.png" />
                <img src="/static/images/screenshots/2.png" />
                <img src="/static/images/screenshots/4.png" />
                <br />
                <p><strong>Discover</strong> resources nearby or at a different location, <strong>Homeless Helper serves all 50 states!</strong></p>                
            </center>

            <br /><br />
            
            <center>
                <img src="/static/images/screenshots/3.png" />
                <img src="/static/images/screenshots/5.png" />
                <br />
                <p><strong>Share</strong> with others. <strong>Manage your shelter</strong> bed availability.</p>                
            </center>
            
        </div>
        <br />
        <br />
        
        <div class="well">
            <h2>Non-Smartphone Access</h2>
            <br />
            <p>Our goal is to provide this information to whoever needs it, anywhere, anytime and on any device.</p>
            <p>Homeless Helper currently runs on most smartphone platforms and devices capable of browsing the web.</p>
            <p>We also built a voice and SMS service that offers users the ability to discover nearby shelters from any cell phone or touch-tone phone.</p>
            <p>
            <br />
            <p><strong>Voice access</strong> - Call 732-372-HELP (4357) from any touch-tone phone and enter a zipcode when prompted</p>
            <p><strong>SMS access</strong> - Send a text message to 732-372-HELP (4357) with an address or zipcode</p>
            <br />
            <p>Both of these methods will enable anyone to learn about nearby shelters.</p>
        </div>
        <br />
        <br />
        

        <div class="well">
            <h2>Data</h2>
            <br />
            <p>Today, Homeless Helper serves data for the entire United States.</p>
            
            <p>With over 3,000 shelters nationwide, 10,000 medical clinics and thousands of other resources; people in every part of the country are able to find resources nearby.</p>
            
            <p>Every object is geocoded and searchable by location.</p>
            
            <p>Homeless Helper receives data input from several sources: <strong>OpenHMIS</strong>, <strong>Self-registration</strong>, <strong>Homeless Helper API</strong> and <strong>other internet resources</strong></p>
        </div>
        <br />
        <br />

        <div class="well">
            <h2>Nuts and Bolts</h2>
            <br />
            <div class="row-fluid">
                <div class="span6">
                    <p>We built Homeless Helper with cutting edge open source technologies</p>
                    <div class="row-fluid">
                        <div class="span3">
                            <ul class="unstyled">
                                <li><a href="http://python.org" target="_blank">Python</a></li>
                                <li><a href="http://mongodb.org" target="_blank">MongoDb</a></li>
                                <li><a href="http://tornadoweb.org" target="_blank">Tornado</a></li>
                                <li><a href="http://www.varnish-cache.org" target="_blank">Varnish</a></li>
                                <li><a href="http://ubuntu.com" target="_blank">Ubuntu</a></li>
                            </ul>
                        </div>
                        <div class="span3">
                            <ul class="unstyled">
                                <li><a href="http://nginx.org" target="_blank">nginx</a></li>
                                <li><a href="http://twitter.github.com/bootstrap" target="_blank">Twitter Bootstrap</a></li>
                                <li><a href="http://wiki.fabfile.org" target="_blank">Fabric</a></li>
                                <li><a href="http://jquery.com" target="_blank">jQuery</a></li>
                                <li><a href="http://jquerymobile.com" target="_blank">jQuery Mobile</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <p>The <strong>cloud is our infrastructure</strong></p>
            
                    <p>Homeless Helper's backend is powered by <a href="https://www.digitalocean.com/?refcode=2fe4b7397112" target="_blank">Digital Ocean</a> and <a href="http://aws.amazon.com" target="_blank">Amazon Web Services</a>.</p>
                    <br />
                    <p>Mapping and directions capabilities are integrated with the <a href="http://developers.google.com/maps/" target="_blank">Google Maps API</a></p>
                    <p>We utilize <a href="http://www.twilio.com" target="_blank">Twilio</a> for handling SMS and voice based queries</p>
                </div>
            </div>
            <br />
            <br />
            <center><p>You can <strong>monitor</strong> our system health at <a href="http://homelesshelper.status.io" target="_blank">homelesshelper.status.io</a></p></center>                    

        </div>
        <br />
        <br />

        <div class="well">
            <h2>Supported Platforms</h2>
            <br />
            <p>Many platforms and versions will work fine. However we develop and test on the following:</p>
            <br />
   	    <p><strong>Mobile web app</strong> - Latest Safari and Chrome (Android, Windows Mobile, and other devices)</p>
            <p><strong>Desktop web app</strong> - Latest versions of Firefox, Safari, Chrome, Opera and Internet Explorer</p>
        </div>
        <br />
        <br />


    
        <div class="well">
            <h2>Get in touch</h2>
            <br />
            <p><strong>Email</strong> - <a href="mailto:wecare@homelesshelper.us">wecare@homelesshelper.us</a></p>
        </div>
            <br />
            <br />

{% include 'footer.html' %}
