{% include 'header.html' %}

<br />
<div class="hero-unit">
    {% include 'navbar.html' %} 

    <br />
    <br />
    <br />
    <center><h2>An open platform for developers</h2></center>
    <br />
    <br />
    <h2>Overview</h2>
    <br />
    <p>During the planning phase for Homeless Helper, we explored the various data sources available with suitable data. There are not many out there, and the ones that are are clunky, out-dated and using proprietary formats.</p>
    
    <p>Our goal is to make it easier for homeless people and their caregivers to access relevant information, in real-time and based on their current geographic location. To pursue this goal we have developed apps for all platforms (iOS, Android, mobile/desktop web browsers, even non-smartphones).</p>
    
    <p>The next thing we plan to do is open the API up to all developers. 
    <br /><br />
    <center><p><a href="/developer/register" class="btn btn-success">Request API Key</a></p></center>
    <br />

</div>

{% include 'footer.html' %}