{% include 'header.html' %}

<br />
<div class="hero-unit">
    {% include 'navbar.html' %} 

<div class="well">
    <br />
    <br />

    <h1>FAQ</h1>
    <br />

    <br />
    <br />
    <h2>Can people <strong>without smartphones</strong> access shelter information?</h2>
    <p>Yes!</p> 
    <p>Simply send a text message to 732-372-HELP (732-372-4357) with the name of a city. You will receive an automatic response with the nearest shelter's contact information and current bed availability.</p>
    <p>There is also an automated voice system. Call 732-372-HELP (732-372-4357) and enter a zip code to locate nearby shelters.</p>    
    <br />
    <br />
    <h2>What devices can be used to access Homeless Helper?</h2>
    <p>To meet our goal of everyone being able to access this information, we have developed solutions for almost every device and platform.</p>
    <p>We have released a native iOS app (iPhone, iPad, iPod), a mobile web app, and a website that supports most modern web browsers.</p>

    <br />
    <br />
    <h2>I have an idea, complaint, suggestion. Who should I contact?</h2>
    <p>Drop us a line at <a href="mailto:wecare@homelesshelper.us">wecare@homelesshelper.us</a></p>


    <br />
    <br />
    <h2>What is the source of the data?</h2>
    <p>Data comes in from self-registrations and the OpenHMIS platform.</p>
    <p>Learn more about OpenHMIS at <a href="http://www.openciss.org">www.openciss.org</a></p>


</div>
</div>

{% include 'footer.html' %}