            <footer>
                <center>
                    <p><a href="{{ config.BASE_URL }}">Home</a> | <a href="/about">About</a> | <a href="{{ config.FAQ_URL }}">FAQ</a> | <a href="{{ config.STATUS_URL }}" target="_blank">System Status</a></p>
                    <br />
                    <h4>Powered by</h4>
                    <a href="http://www.openciss.org" target="_blank"><img src="/static/images/OpenHMIS.png" /></a>
                    <p></p>
                </center>
            </footer>
        </div> <!-- /container -->
    </body>
</html>