{% include 'header.html' %}
<br />
<div class="hero-unit">
    {% include 'navbar.html' %} 
    <div class="well">
        <center>
            <img src="/static/images/screenshots.png" />
            <br /><br />
            <a href="/about" class="btn btn-inverse btn-large">Learn more</a>
            <br />
            <br />
        </center>
    </div>
    
    <div class="well">
        <br />
        <center>
            <p>Available for <strong>Apple iOS</strong> and <strong>desktop or mobile</strong> web browsers</h3>
        </center>
        <br />
        <div class="row-fluid">
            <div class="span3">
                <br />
            </div>
            <div class="span3">
                <center>
                    <a class="pull-right" href="https://itunes.apple.com/us/app/homeless-helper/id512224427?mt=8" target="_blank"><img src="/static/images/dl-apple.png" /></a>
                    <br />
                    <br />
                    <br />
                    
                </center>
            </div>
            <div class="span3">
                <center>
                    <a href="http://homelesshelper.us/mobile" target="_blank"><img src="/static/images/dl-web.png" /></a>
                    <br />
                    <br />
                    <br />
                    <a href="http://homelesshelper.us/mobile" target="_blank">homelesshelper.us/mobile</a>
                </center>
            </div>
        </div>
        <br />
    </div>
    
        <div class="row-fluid">
            <div class="span6">
                <div class="well">
                    <center>
                        <h3>Non-smartphone Access</h3>
                        <br />
                        <p>Send a text message to <strong>732-372-HELP</strong> with an address or zipcode,</p>
                        <p>information about the closest shelter will be sent back to you instantly</p>
                    </center>
                    <br />
                    <center>
                        <table>
                            <tr>
                                <td><img src='/static/images/sms-demo/sms01.png'></td>
                                <td style="width:100px;"><p> </p></td>
                                <td><img src='/static/images/sms-demo/sms03.png'></td>
                            </tr>
                        </table>
                    </center>                
                    <br />
                    <center>
                        <p>Or call <strong>732-372-HELP</strong> from any phone,</p>
                        <p>enter a zipcode and hear about nearby shelters</p>
                    </center>
                </div>
            </div>
            <div class="span6">
                <div class="well">
                    <center>
                        <h3>Watch the video</h3>
                        <br /><br />
                        <iframe width="560" height="315" src="http://www.youtube.com/embed/THMnM7zP4hI?rel=0" frameborder="0" allowfullscreen></iframe>
                                    <br /><br />
            <a href="/about" class="btn btn-inverse btn-large">Learn more</a>
            <br />

                    </center>                
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}