<center>
    <a href="{{ config.BASE_URL }}"><img src="/static/images/logo.png" /></a>
</center>

<div class="page-header">
    <center>
        <p color="red">Real-time location-based information for the homeless. Powered by <a href="http://openciss.org">OpenHMIS</a>.</p>
    </center>
</div>

<div class="row-fluid">
    <div class="span2"><p></p></div>
    <div class="span8">
        <center>
        <table class="table">
            <tr>
                <td><center><a href="#" onClick="geo_shelter();"><img src="/static/images/mobile/shelter.png" /></a></center></td>
                <td><center><a href="#" onClick="geo_food();"><img src="/static/images/mobile/food.png" /></a></center></td>
                <td><center><a href="#" onClick="geo_medical();"><img src="/static/images/mobile/medical.png" /></a></center></td>
                <td><center><a href="#" onClick="geo_social();"><img src="/static/images/mobile/social.png" /></a></center></td>
                <td><center><a href="#" onClick="geo_legal();"><img src="/static/images/mobile/legal.png" /></a></center></td>
                <td><center><a href="#" onClick="geo_hotlines();"><img src="/static/images/mobile/hotlines.png" /></a></center></td>
                <td><center><a href="#" onClick="geo_employment();"><img src="/static/images/mobile/employment.png" /></a></center></td>
                <td><center><a href="/admin"><img src="/static/images/mobile/heart.png" /></a></center></td>
                <td><center><a href="/outreach"><img src="/static/images/mobile/idcard.png" /></a></center></td>
            </tr>
            <tr>
                <th><center>Shelter</center></th>
                <th><center>Food</center></th>
                <th><center>Medical</center></th>
                <th><center>Social</center></th>
                <th><center>Legal</center></th>
                <th><center>Hotlines</center></th>
                <th><center>Employment</center></th>
                <th><center>Caregiver</center></th>
                <th><center>Outreach</center></th>
            </tr>
        </table>
        </center>
    </div>
    <div class="span2"><p></p></div>
</div>
