{% include 'header.html' %}
<body> 
    <div data-role="page" id="outreach_client_get">
        <div data-theme="b" data-role="header" data-position="fixed">
            <a data-role="button" data-rel="back" data-transition="fade" data-theme="b" href="/mobile/outreach" data-icon="back" data-iconpos="left" class="ui-btn-left">Back</a>
            <h3>Outreach</h3>
        </div>
        <div data-role="content" style="padding: 15px">

            {% if error is True %}
                <center><h3>Logon</h3></center>
                <br />
                <br />
                <form action="/mobile/outreach" method="post">
                    <center>
                        Username: <input type="text" name="username" id="username" value="" />
                        <br />
                        <br />
                        Password: <input type="password" name="password" id="password" value="" />
                        <br />
                        <br />
                    </center>
                    <center>
                        <button type="submit" name="submit" class="btn btn-info">Logon</button>
                    </center>
                </form>


            {% else %}
                <form action="/mobile/outreach/client/add" method="post">
                    <center>
                        Birthdate: <input type="text" name="dob" id="dob" value="" />
                        <br />
                        <br />

                        Ethnicity: <input type="text" name="ethnicity" id="ethnicity" value="" />
                        <br />
                        <br />

                        Gender: <input type="text" name="gender" id="gender" value="" />
                        <br />
                        <br />

                        First Name: <input type="text" name="name_first" id="name_first" value="" />
                        <br />
                        <br />

                        Middle Name: <input type="text" name="name_middle" id="name_middle" value="" />
                        <br />
                        <br />

                        Last Name: <input type="text" name="name_last" id="name_last" value="" />
                        <br />
                        <br />
                    </center>
                    <center>
                        <button type="submit" name="submit" class="btn btn-info">Go</button>
                    </center>
                </form>
            {% end %}

	</div><!-- /content -->
</div><!-- /page -->
</body>
</html>